#cloud-config

write_files:
    - path: /etc/systemd/system/docker.service.d/increase-ulimit.conf
      owner: core:core
      permissions: 0644
      content: |
        [Service]
        LimitMEMLOCK=infinity
        LimitCORE=infinity
    - path: /run/systemd/system/etcd.service.d/30-timing.conf
      permissions: 420
      content: |
        [Service]
        # Peer Env Vars
        Environment=ETCD_PEER_HEARTBEAT_INTERVAL=100
        Environment=ETCD_PEER_ELECTION_TIMEOUT=500
        Environment=ETCD_SNAPSHOT_COUNT=1000

coreos:
  etcd:
    discovery: https://discovery.etcd.io/56160d8789cd826185c2f6a7e14538b8
    addr: $public_ipv4:4001
    peer-addr: $public_ipv4:7001
  units:
    - name: etcd.service
      command: start
    - name: fleet.service
      command: start
  fleet:
      public-ip: $public_ipv4
      metadata: "region=US-WEST,instancetype=t1.micro,dc=AWS,stack=APP,facing=public,private_ip=$private_ipv4"
